<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{admin/fragments/head :: head('BookNest | Users Management')}">
</head>

<body>

<div class="admin-layout">

    <div th:replace="~{admin/fragments/sidebar :: sidebar}">
    </div>

    <main class="admin-content">

        <div th:replace="~{admin/fragments/header :: header('Books Management')}"></div>

        <p>Books list will be displayed here.</p>

    </main>

</div>

<div th:replace="~{admin/fragments/footer :: footer}">
</div>

</body>
</html>